@import '@/qunar/reset.scss';

html, body, #root, .box {
  @include rect(100%, 100%);
  @include background-color(#fff);
}
.header-flex {
  @include rect(100%, 0.4rem);
   background: linear-gradient(to right, #FFAE12 0, #F07D17 100%);
  @include color(#fff);
  .backe {
    @include color(#fff);
    @include rect(.4rem, 100%);
    font-size: .16rem;
    float: left;
    line-height: .44rem;
    margin-left: .2rem;
    img {
      height: .2rem;
    }
  }
  h3 {
    font: 0.16rem/0.44rem  "";
    font-size: .16rem;
    letter-spacing: .01rem;
    margin-left:1.2rem;
    font-weight: 500;
  }
}
.topic-cot .top {
  width: 100%;
  height: 1rem;
  margin-top: 0.4rem;
  background-image: url(//js.ibaotu.com/mobile/img/topic/topic_ban.png);
  -webkit-background-size: cover;
  background-size: cover; 
}
